<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export xml</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        File 1 to upload: <input type="file" name="upfile"><br/>
        File 2 to upload: <input type="file" name="upfile"><br/>
        File 3 to upload: <input type="file" name="upfile"><br/>
        File 4 to upload: <input type="file" name="upfile"><br/>
        File 5 to upload: <input type="file" name="upfile"><br/>
        <input type="submit" value="Press"> to upload the file!
    </form>
</body>
</html>